@import '../../../../../assets/config/utils';

.accidentsHeader-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: $color-silver;
    color: #222;
    font-weight: bold;
    padding: 15px 0px 15px 0px;

    .accidentsHeader-header {
        display: $color-black;
        width: 100%;
        text-align: center;
    }
}
