
.accidentsHeader-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #E9ECEF;
    color: #222;
    font-weight: bold;
    padding: 15px 0px 15px 0px;

    .accidentsHeader-header {
        display: block;
        width: 100%;
        text-align: center;
    }
}