
<loader #loaderRef> </loader>

<div class="global-error" *ngIf="renderPage==false">
  <h3>Oops.. something went wrong :(&ensp;</h3>
  <span>Press the home button and try again.</span>
</div>

<div class="global-page-main">
    <span class="single-accident-home" (click)="navigateToHomePage()"> </span>
    <div class="global-page-body" *ngIf="renderPage">
        <header [header]="'Event MDA - ' + mda"> </header>
        <span class="global-separator"></span>

        <sub-header [subHeader]="'Location'"> </sub-header>
        <span class="global-separator"></span>

        <div class="single-accident-map-container">
            <div class="single-accident-geo-location">
                <location-view [location]="location"> </location-view>
            </div>

            <div class="single-accident-map">
                <google-maps [title]="'Accident Location'"
                    [zoom]="15"
                    [location]='location'
                    [size]="{width: '500px', height: '500px'}">
                </google-maps>
            </div>
        </div>

        <span class="global-separator"></span>
        <sub-header [subHeader]="'Injuries'"> </sub-header>
        <span class="global-separator"></span>

        <div class="single-accident-injuries-list">
            <injuries-list [injuries]='injuries'> </injuries-list>
        </div>
    </div>
</div>
