@import '../../assets/config/utils';

.accidents-list-main {
    display: block;
    width: 100%;

    .accidents-list-body {
        display: block;
    }
}


.accidents-list-accident:nth-child(even) {
    background: $color-dark-gray;
}

.accidents-list-accident:nth-child(odd) {
    background: $color-bright-gray;
}

