@import '../../assets/config/utils';

.injuries-list-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .injuries-list-injury {
        display: $color-black;
        margin: 10px;
    }
}
