/* You can add global styles to this file, and also import other style files */
@import './app/assets/config/utils';

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Heebo-regular;
    src: url(./app/assets/files/Heebo-Regular.ttf);
}

body {
    font-family: Heebo-regular;
}

div {
    display: block;
    box-sizing: border-box;
}

.global-separator {
    display: block;
    margin: 30px 0px 30px 0px;
}

