/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import './assets/config/utils';

* {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: Heebo-regular;
    src: url(./app/assets/files/Heebo-Regular.ttf);
}

body {
    font-family: Heebo-regular;
}

.global-page-main {
    display: block;
    width: 100%;
    padding: 40px 0px 40px 0px;
}

.global-page-body {
    display: block;
    width: 1024px;
    margin: 0 auto;
}

.global-separator {
    display: block;
    margin: 30px 0px 30px 0px;
}

.global-error {
    margin: 15px;

    h3 {
      color: $color-error-red;
    }
}
